data/
.build/
.tarballs/

!.build/linux-amd64/
!.build/linux-arm64/
!.build/linux-armv7/
!.build/linux-ppc64le/
!.build/linux-riscv64/
!.build/linux-s390x/

/vendor

# Ignore local compiled binaries
/prometheus
/promtool
/promtool-benchmark

# Ignore git repository details unless required
.git/

# Ignore local Node dependencies
**/node_modules/
